@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,500&family=Montserrat:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: hsl(214, 87%, 9%);
    backdrop-filter: blur(70px);
}

.container{
    max-width: 700px;
    width: 100%;
    background: hsl(214, 87%, 9%);
    padding: 25px 30px;
    border-radius: 5px;
    color: #fff;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 3px;
    background: #358103;
    background: linear-gradient(135deg,#07acb8,#358103);    
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% /2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #358103;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
   height: 100%;
   width: 100%;
   outline: none;
   color: #fff;
   border: none;
   font-size: 18px;
   font-weight: 500;
   border-radius: 5px;
   cursor: pointer;
   letter-spacing: 1px;
   background: linear-gradient(135deg,#358103,#0dc3db); 
}

form .button input:hover{
    background: linear-gradient(-135deg,#358103,#0dc3db);
}

#education-level {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

#prediction-output-container {
    margin-top: 50px; /* Adjust top margin as needed */
    margin-bottom: 0; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    background-color: #000000;
    max-width: 400px; 
    width: 100%; 
    display: flex;
    flex-direction: column; /* Change to column direction */
    align-items: center; /* Align items in the center horizontally */
}

#recorded-time,
#prediction-output {
    margin-bottom: 10px; /* Adjust as needed */
}

#prediction-output {
    color: white;
    font-weight: bold;
    margin-left: 10px; /* Add margin to separate recorded and predicted times */
}



